<div class='section'>
	<div class="d-flex justify-content-between mt-2">
		<h5 class="h5">Customers</h5>
		<a routerLink="/admin/customers/add" routerLinkActive="active" class="btn btn-primary">Add Customer</a>

		
	</div>

	<div class="card mt-2 p-2">
		<div class="d-flex justify-content-between  card-header" style="background-color: #fff;">
			<form class="d-flex col-sm-4 col-6 ">
				<input class="form-control me-1" type="search" name="search-table" aria-label="search" placeholder="Search Within Table">
				<button class="btn btn-outline-success" type="submit">
					<i class="fa-solid fa-search"></i>
				</button>
			</form>

			<div>
				<button class="btn btn-secondary mx-1" type="submit">
					<i class="fa-solid fa-filter"></i>
				</button>
				<button class="btn btn-secondary mx-1" type="submit">
					<i class="fa-solid fa-arrow-up-z-a"></i>Sort
				</button>

			</div>
		</div>

		<div>
			<table class="table table-hover">
				<thead>
					<tr><th scope="col">#</th><th scope="col">Customer Name</th><th scope="col">Status</th>
						<th scope="col">Location</th>
						<th scope="col">Orders</th>
						<th scope="col">Spent</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td></td>
						<td></td>
						<td>0 orders</td>
						<td>KSh 0.00</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td></td>
						<td></td>
						<td>0 orders</td>
						<td>KSh 0.00</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td colspan="2">Larry the Bird</td>
						<td></td>
						
						<td>0 orders</td>
						<td>KSh 0.00</td>
					</tr>

				</tbody>
			</table>

			<div  class="d-flex justify-content-between">
				<div>
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#">Previous</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
					</nav>
				</div>
				<div>
					<select class="form-select" aria-label="Default select example">
						<option selected>Open this select menu</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>