#cta {
  padding: 1.5rem 0rem 1.5rem;
}

#hero{
  height:70vh;
  padding: 7rem 0rem 7.5rem;
}
.icon{
  width: 10px;
  height: 10px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #cta {
    padding: 7.5rem 7rem;
  }
  
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
