<header class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      Hesabu  
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <div class="d-flex">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a class="btn btn-outline-primary nav-link" href="#">Sign In</a>
        </li>
        <li class="nav-item mx-2 ">
          <a class="btn btn-primary nav-link" href="#">Get Started</a>
        </li>
      </ul>
    </div> 
  </div>
</div>
</header>

<div id="section-hero" class="container-fluid d-flex align-items-center"  style="height: 70vh;">
  <div class="mx-auto">

    <div class="text-center">    
      <h1 style="font-weight: 600;">The commerce platform <br> to grow your business on</h1>

      <p style="font-size: 16px;line-height: 24px;letter-spacing: 0.25px;">
        Hesabu Business Manager is the most versatile platform for Store management,
        Seamless payment processing and Accesing actionable reports anywhere.

      </p>
    </div>

    <div class="d-flex flex-column" >
      <div>
        <form action="" class="row g-3 mx-auto" style="max-width: 640px;">
          <div class="col-12 col-md-8">
            <label for="inputEmail" class="visually-hidden">Enter your email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email address">
          </div>
          <div class="col-12 col-md-4 d-grid">
            <button type="submit" class="btn btn-primary mb-3">14 Day Free Trial</button>
          </div>
        </form>
      </div>

      <div class="text-center"> 
        <small>
          Try Hesabu Business Manager free for 30 days, no credit card required.<br>
        By entering your email, you agree to receive marketing emails from Hesabu Business Manager.</small>
      </div>

    </div>
  </div>

</div>

<main>
  <div class="container-fluid">
    <h1>Take the best move forward</h1>
    <div class="row">
      <div class="col-md-3">
        <div></div>
        <h6>Inventory Management</h6>
        <p>Manage your entire inventory with Hesabu Business Manager. Track stock counts, and automatically stop selling products when inventory runs out.</p>
      </div>
      <div class="col-md-3">
        <div></div>
        <h6>Staff Management</h6>
        <p>Control permissions and track staff performance from one place.</p>
      </div>
      <div class="col-md-3">
        <div></div>
        <h6>Point Of Sale</h6>
        <p>Manage products, payments, and customers across all the places you sell, in store and online.</p>
      </div>
      <div class="col-md-3">
        <div></div>
        <h6>Customer Management</h6>
        <p>Manage Customer profiles,Customer accounts and Order fulfillment</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div>
        <h1>Set Up Hesabu Business Manager,pick a plan Later</h1>
        <p>Try Shopify free for 14 days, no credit card required</p>
      </div>
      
      <div class="col-md-4">
        <div class="card">
          <h6>Starter</h6>
          <p class="price">Ksh 500/<span>Month</span></p>
          <div class="mt-4">
            <div>Upto 2 Users</div>
            <div>Upto 1 Branches</div>
            <div>Upto 1 Terminal</div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary mb-3">Start Free Trial</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h6>Silver</h6>
          <p class="price">Ksh 1,500/<span>Month</span></p>
          <div class="mt-4">
            <div>Upto 10 Users</div>
            <div>Upto 3 Branches</div>
            <div>Upto 3 Terminal</div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary mb-3">Start Free Trial</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h6>Enterprise</h6>
          <p class="price">Contact Us</p>
          <div class="mt-4">
            <div>Upto 10 Users</div>
            <div>Upto 3 Branches</div>
            <div>Upto 3 Terminal</div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary mb-3">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

