<header id="headera" class="navbar navbar-expand-lg navbar-custom fixed-top py-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      Hesabu  
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
    aria-expanded="false" aria-label="Toggle navigation" style="border:1px  #000 solid;">
    <span class=""><i class="fa-solid fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pricing">Pricing</a>
      </li>
    </ul>
    <div class="d-flex">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Log In</a>
        </li>
        <li class="nav-item mx-2 ">
          <a class="btn btn-primary  nav-link" href="#">Start free trial</a>
        </li>
      </ul>
    </div> 
  </div>
</div>
</header>

<div id="section-hero" class="container-fluid d-flex align-items-center"  style="height: 70vh;">
  <div class="mx-auto">

    <div class="text-center">    
      <h1 style="font-weight: 600;">The commerce platform <br> to grow your business on</h1>

      <p class="text-center" style="font-size: 18px;line-height: 24px;letter-spacing: 0.25px;max-width: 720px;">
        Hesabu Business Manager is the most versatile platform for Store management,
        Seamless payment processing and Accesing actionable reports anywhere.

      </p>
    </div>

    <div class="d-flex flex-column" >
      <div>
        <form action="" class="row g-3 mx-auto" style="max-width: 640px;">
          <div class="col-12 col-md-8">
            <label for="inputEmail" class="visually-hidden">Enter your email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email address">
          </div>
          <div class="col-12 col-md-4 d-grid">
            <button type="submit" class="btn btn-primary mb-3">14 Day Free Trial</button>
          </div>
        </form>
      </div>

      <div class="text-center"> 
        <small>
          Try Hesabu Business Manager free for 30 days, no credit card required.<br>
        By entering your email, you agree to receive marketing emails from Hesabu Business Manager.</small>
      </div>

    </div>
  </div>

</div>

<main> 
  <div id="features" class="container-fluid py-5" 
  style="background-color: #004d40; color: #fff;">
  <h2 class="px-md-5 py-4" style="font-weight:400;font-size: 2.5rem;">Take the best move forward</h2>
  <div class="row px-md-5">

    <div class="col-md-3">
      <div class="d-flex  flex-column">
        <span ><i class="fa-solid fa-user"></i></span>
        <h5 class="py-2">Inventory Management</h5>
      </div>
      <p class="pt-4" style="line-height: 1.5rem;font-size: 16.5px;font-weight: 400;">
        Manage your entire inventory,
        Track stock counts and automatically stop selling products when inventory runs out.
      </p>
    </div>
    <div class="col-md-3">
      <div class="d-flex  flex-column">
        <span ><i class="fa-solid fa-user"></i></span>
        <h5 class="py-2">Staff Management</h5>
      </div>
      <p class="pt-4" style="line-height: 1.5rem;">
      Control permissions and track staff performance from one place.</p>
    </div>
    <div class="col-md-3">
      <div class="d-flex  flex-column">
        <span ><i class="fa-solid fa-user"></i></span>
        <h5 class="py-2">Point Of Sale</h5>
      </div>
      <p class="pt-4" style="line-height: 1.5rem;">
        Manage products, payments, and customers across all the
      places you sell, in store and online.</p>
    </div>
    <div class="col-md-3">
      <div class="d-flex  flex-column">
        <span ><i class="fa-solid fa-user"></i></span>
        <h5 class="py-2">Customer Management</h5>
      </div>
      <p class="pt-4" style="line-height:1.5rem;">Manage Customer profiles,Customer accounts and Order fulfillment</p>
    </div>

  </div>
</div>

<div id="pricing" class="container-fluid py-4" >
  <div class="row px-md-5">
    <div>
      <h2 class="py-4" style="font-weight:400;font-size: 2.5rem;">
        Pricing.
      </h2>
      <p >Try Hesabu Business Manager free for 14 days, no credit card required</p>
    </div>

    <div class="col-md-4">
      <div class="card px-4 py-2" >
        <h3>Starter</h3>
        <p class="price">Ksh 500/<span>Month</span></p>
        <div class="mt-4">
          <div>Upto 2 Users</div>
          <div>Upto 1 Branches</div>
          <div>Upto 1 Terminal</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary mb-3">Start Free Trial</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card px-4 py-2">
        <h3>Silver</h3>
        <p class="price">Ksh 1,500/<span>Month</span></p>
        <div class="mt-4">
          <div>Upto 10 Users</div>
          <div>Upto 3 Branches</div>
          <div>Upto 3 Terminal</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary mb-3">Start Free Trial</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card px-4 py-2">
        <h3>Enterprise</h3>
        <p class="price">Contact Us</p>
        <div class="mt-4">
          <div>Upto 10 Users</div>
          <div>Upto 3 Branches</div>
          <div>Upto 3 Terminal</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary mb-3">Contact Us</button>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

