a.navbar-brand{
	color:rgba(0, 0, 0, 1);
	line-height: 1.5 rem;
}

a.nav-link{
/*padding: .25rem 0;*/
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  /*background-color: transparent;*/
}

#section-hero{
	/*color: #fff;
	 background-image: url("/assets/backgroundhesabu-svg.svg");*/
	/*background-color: #004d40;
	 background-size: cover;
	 background-repeat: no-repeat;*/
}

.container-fluid{
	
}