<div class="container-fluid login-section">
    <div class="mx-auto col-sm-4 form-section ">
        <h4 class="text-center form-title py-4 text-lg">Log in to your account</h4>
        <div class="card login-card py-4 px-4">
            <form class="form-signin py-4">
                <div class="pt-4">
                <label for="email" class="text-sm block text-gray-700 py-2"  >Email Address</label>
                <input formControlName="email"  type="email"  class="form-control"  required>
                </div>

                <div class="py-2">
                <label for="inputPassword" class="text-sm block font-medium text-gray-700 py-2">Password</label>
                <input formControlName="password" type="password" class="form-control"  required>
                </div>
                
                <div class="d-sm-flex justify-content-between py-xs-4 py-2 ">
                    <a routerLink="/forgot"class="font-medium text-primary-600 hover:text-primary-500"> Forgot your password? </a>
                </div>

                <div class="d-grid gap-2 pb-4">
                    <button class="btn btn-primary btn-green mb-3" type="submit">Sign In</button>
                    <button class="btn btn-outline-primary btn-outline-green" type="button">Create Account</button>
                  </div>
                
                
              </form>
        </div>
    </div>
    
</div>