<div class="container-fluid register-section">
    <div class="mx-auto col-sm-4 form-section ">
        <h4 class="text-center form-title py-4 text-lg">Sign up for a new account</h4>
        <div class="card register-card py-4 px-4">
            <form class="form-signin py-4">

                <div class="pt-4">
                <label for="name" class="text-sm block text-gray-700 py-2">Name</label>
                <input type="text"  class="form-control"  required>
                </div>

                <div class="pt-4">
                <label for="email" class="text-sm block text-gray-700 py-2"  >Email Address</label>
                <input type="email"  class="form-control"  required>
                </div>

                <div class="py-2">
                <label for="inputPassword" class="text-sm block font-medium text-gray-700 py-2">Password</label>
                <input type="password" class="form-control"  required>
                </div>

                <div class="py-2">
                <label for="inputPassword" class="text-sm block font-medium text-gray-700 py-2">Confrim Password</label>
                <input type="password" class="form-control"  required>
                </div>

                <div class="d-grid gap-2 pb-4">
                    <button class="btn btn-primary btn-green mt-5" type="submit">Sign Up</button>
                </div>
                
              </form>
        </div>
    </div>
    
</div>