<div class="scrollmenu pt-1">
  <a class="nav-item nav-link me-1" routerLink="/admin/settings/general" routerLinkActive="active">
  Store Details</a>
  <a class="nav-item nav-link me-1" routerLink="/admin/settings/users" routerLinkActive="active">
  Users and Permissions</a>
  <a class="nav-item nav-link me-1" routerLink="/admin/settings/billing" routerLinkActive="active">
  Plan and Billing</a>
  <a class="nav-item nav-link me-1" routerLink="/admin/settings/taxes" routerLinkActive="active">
  Taxes and Duties</a>
  <a class="nav-item nav-link me-1" routerLink="/admin/settings/location" routerLinkActive="active">
  Location</a>
  <a class="nav-item nav-link me-1" routerLink="/admin/settings/channels" routerLinkActive="active">
  Sales Channel</a>
</div>


<div>
  General settings
</div>

