/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0pc;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-green{
    background-color: #004d40;
    color: #fff;
    border-color: #004d40;
}
.btn-green:hover {
    color: #fff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow:  
    inset -10px 10px 10px rgba(0, 0, 0, 0.2);
}
.btn-green:focus {
    color: #fff;
    background-color: #004d40;
    border-color: #004d40;
    box-shadow:  
    inset -10px 10px 10px rgba(0, 0, 0, 0.2);
}
.btn-outline-green{
    color: #004d40;
    border-color: #004d40;
}
.btn-outline-green:hover {
    color: #fff;
    background-color: #004d40;
    border-color: #004d40;
}


#addproduct_form{
    max-width: 720px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
