<section class="features-section">
<div class="container py-5">
   
    <div class="row row-cols-2">
        <div class="col">
            <div>
                <div>
                    <span><img class="icon" src="assets/png/icons8-inventory-64.png" alt="inventory management"></span>
                    <h5>Inventory Management</h5>
                    <div>
                        <ul>
                            <li>Add and Update Stock Items</li>
                            <li>Manage stock levels and activity</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <div>
                    <span><img class="icon" src="assets/png/icons8-video-calling-64.png"
                            alt="customer management"></span>
                    <h5>Customer Management</h5>
                    <div>
                        <ul>
                            <li>Add,View,Update and Delete Customer information</li>
                            <li>Checkout and Manage customer transaction history</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <div>
                    <span><img class="icon" src="assets/png/icons8-teamwork-64.png" alt="employee management"></span>
                    <h5>Employee Management</h5>
                    <div>
                        <ul>
                            <li>Manage team roles & permissions</li>
                            <li>Review members activities</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <div>
                    <span><img class="icon" src="assets/png/icons8-calculator-64.png" alt="sale management"></span>
                    <h5>Point of Sale</h5>
                    <div>
                        <ul>
                            <li>Manage team roles & permissions</li>
                            <li>Review members activities</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</section>